* {
    margin: 0; 
}

html, 
body {
    height: 100%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: blueviolet;
}
p {
    margin: .5em 0 .5em 0;
    ;
}
header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:blueviolet;
    padding: 10px;
}

img {
    max-width:100%;
    max-height: 100%;
}

nav a:visited,
nav a:link {
    color: #fff;
    text-decoration: none;
}


nav > ul {
    display: inline;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
    list-style-type: none;
    margin: 0 5px 0 5px;
}
main {
    display: block;
    background-image: url("background.jpg");
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

footer {
    padding: 15px;
}

aside,
article {
    padding:2em;
    text-align: left;
}

article {
    width: 75%;
}
.columns {
    display: flex;
}

@media only screen and (min-width: 768px) {

    main {
        display: flex;
    }
}

aside {
    margin-left: 2%;
}
.columns-desktop {
    display: flex;
}

    